@model NOC_Macro.Models.MajorIncidents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MajorIncidents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.incidentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incidentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCenter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categorization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categorization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
