<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NOC Dashboard! | </title>
    <!-- Bootstrap -->
    @Styles.Render("~/Content/bootstrap.css")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/font-awesome.css")
    <!-- jQuery custom content scroller -->
    @Styles.Render("~/Content/jquery.mCustomScrollbar.css")
    <!-- Custom Theme Style -->
    @Styles.Render("~/Content/custom.css")


    


</head>
<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col menu_fixed">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>SaaS NOC!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/Content/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["username"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="index.html">Dashboard</a></li> 
                                        <li><a href="index2.html">Dashboard2</a></li>
                                        <li><a href="index3.html">Dashboard3</a></li>
                                    </ul>
                                </li>
                                <li><a href="/MajorIncidents/"><i class="fa fa-bookmark"></i> Major Incidents </a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Content/img.jpg" alt="">@Session["username"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Log Out", "LogOut", "HomeController", new { })</li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="height:100vh;">
                <div class="">

                    <div class="alert alert-warning alert-dismissible fade in" role="alert" id="view-message-div" hidden>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            
                        </button>
                        <span id="view-message"></span>
                    </div>

                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    @Scripts.Render("~/Scripts/jquery.js")
    <!-- Bootstrap -->
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    <!-- jQuery custom content scroller -->
    @Scripts.Render("~/Scripts/jquery.mCustomScrollbar.concat.min.js")
    <!-- Custom Theme Scripts -->
    @Scripts.Render("~/Scripts/custom.min.js")


    @{
        if (ViewBag.Message !=  null && ViewBag.Message != "null")
        {//show message to view
            <script type="text/javascript">
                $("#view-message").html('@ViewBag.Message');
                $("#view-message-div").show();
            </script>
            ViewBag.Message = "null";
        }
    }

</body >
</html >